.search-results {
  width: 400px;
  max-height:fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #272727;
  animation: neon-card 2s ease-in-out infinite alternate;
}

.option-btn {
  margin-bottom: 10px;
  display: flex;
}

.option-btn button {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 999px;
  border: 5px solid #272727;
  background-color: #0d0d0d;
  color: #272727; /* Set background color */
  cursor: pointer; /* Make the buttons clickable */
}

.option-btn button:hover {
  background-color: #ddd; /
}

.option-btn button.active {
  background-color: #ccc;
}

.result-head {
  margin-bottom: 5px;
}

.result-list div {
  margin-bottom: 5px;
  border-radius: 3px;
  color: #ccc;
  cursor: pointer;
}

.result-list div:hover {
  background-color: #ccc;
  color: #0d0d0d;
}

@keyframes neon-card {
  from {
    box-shadow: 0 0 0 2px #f0f, 0 0 5px 4px rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 0 2px #0ff, 0 0 5px 4px rgba(0, 255, 255, 0.4);
  }
}
