* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #ced8ff;
  transition: 0.5s;
}

.container.dark {
  background-color: #222;
}
